{% extends 'tweets/base.html' %}

{% block head_title %}
    / home
{% endblock head_title %}

{% block content %}
    <div class="row text-center">
        <div class="col">
            <h1>Welcome to Tweetme</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 mx-auto col-10">
            <form action="/create-tweet" method="post" class="form" id="tweet-create-form">
                {% csrf_token %}
                <input type="hidden" name="next" value="/"/>
                <textarea name="content" id="" placeholder="Your tweet..." class="form-control mb-1"></textarea>
                <button class="btn btn-primary" type="submit">tweet</button>
            </form>
        </div>
    </div>

    <div class="row" id="tweets">
        Replace me
    </div>

    <script>

        function handleTweetCreateFormDidSumbit(event) {
            event.preventDefault()
            const myForm = event.target
            const myFormData = new FormData(myForm)
            const url = myForm.getAttribute("action")
            const method = myForm.getAttribute("method")
            const xhr = new XMLHttpRequest()
            xhr.open(method, url)
            xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
            xhr.onload = function () {
                const serverResponse = xhr.response
                console.log(xhr.status, serverResponse)
                const tweetsEl = document.getElementById("tweets")
                loadTweets(tweetsEl)
            }
            xhr.send(myFormData)
            // console.log(url, method)
            // console.log(event)
        }

        const tweetCreateFormEl = document.getElementById("tweet-create-form")
        tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSumbit)

        const tweetsEl = document.getElementById("tweets")     // get an html element

        function loadTweets(tweetsElement) {
            const xhr = new XMLHttpRequest()  // xhr = SomeClass()
            const method = 'GET' // "POST"
            const url = "/tweets"
            const responseType = "json"

            xhr.responseType = responseType
            xhr.open(method, url)
            xhr.onload = function () {
                const serverResponse = xhr.response
                const listeditems = serverResponse.response
                var finalTweetStr = ""
                var i;
                for (i = 0; i < listeditems.length; i++) {
                    var tweetObj = listeditems[i]
                    var currentItem = formatTweetElement(tweetObj)
                    finalTweetStr += currentItem
                }
                tweetsElement.innerHTML = finalTweetStr
                // console.log(listeditems)

            }
            xhr.send()
        }

        loadTweets(tweetsEl)

        function handleDidLike(tweet_id, currentCount) {
            console.log(tweet_id, currentCount)
        }

        function LikeBtn(tweet) {
            return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + "Like</button>"
        }

        function formatTweetElement(tweet) {
            var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id + "'>" +
                "<p>" + tweet.content +
                "</p><div class='btn-group'>" + LikeBtn(tweet) + "</div></div>"
            return formattedTweet
        }
    </script>
{% endblock content %}